name: Hermes CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r hermes-backend/requirements.txt

    - name: Lint with Ruff
      run: |
        # Stop the build if there are Python syntax errors or undefined names
        ruff check hermes-backend --select E9,F63,F7,F82 --target-version py310
        # Exit-zero treats all errors as warnings. The check fails if errors are found.
        ruff check hermes-backend --target-version py310

    - name: Run Tests with Coverage
      working-directory: hermes-backend
      run: |
        python -m pytest --cov=. --cov-report=term-missing --cov-fail-under=90 tests/
